# **환경 셋팅**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{: .1f}'.format

# **복지 및 급여 점수 (중분류 & 대분류)**

In [ ]:
df_tmp = pd.read_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/dataset/기업성장_16종/취업포탈리뷰.csv')
df_salary = df_tmp.copy()

df_salary = df_salary[['사업자등록번호', '직군명', '복지및급여점수', '종합점수']]
df_salary.loc[df_salary['직군명'] != df_salary['직군명'], '직군명'] = '알수없음'


# df_salary_tmp = df_salary[['직군명', '복지및급여점수']]
# df_salary_tmp = df_salary_tmp.groupby('직군명').mean().reset_index()
# df_salary_tmp.columns = ['직군명', '산업별_복지및급여점수']

# df_salary = pd.merge(df_salary, df_salary_tmp, how = 'left', left_on = '직군명', right_on = '직군명')
# df_salary['복지및급여점수'] = np.where(pd.notnull(df_salary['복지및급여점수']) == True, df_salary['복지및급여점수'], df_salary['산업별_복지및급여점수'])

df_salary = df_salary.groupby(['사업자등록번호','직군명']).agg({'복지및급여점수' : 'mean', '종합점수' : 'size'}).reset_index()
df_salary.columns = ['사업자등록번호', '직군명', '복지및급여점수', '평가자수']

df_salary = df_salary.dropna(subset=['복지및급여점수'])
df_salary

          사업자등록번호        직군명  복지및급여점수  평가자수
1      1011106242       알수없음     80.0     6
3      1018100030  경영/기획/컨설팅     20.0     1
4      1018100030       연구개발     40.0     8
5      1018100096   서비스/고객지원     40.0     5
6      1018100096      영업/제휴     40.0     3
...           ...        ...      ...   ...
13213  8928604248        전직원     53.3     3
13215  8938103184     IT/인터넷     45.0     4
13216  8938103184  경영/기획/컨설팅     40.0     5
13218  8948604603        전직원     20.0     1
13219  8948604603        현직원     80.0     1

[6749 rows x 4 columns]

In [ ]:
df_salary.isnull().sum()

사업자등록번호    0
직군명        0
복지및급여점수    0
평가자수       0
dtype: int64

In [ ]:
df_tmp['사업자등록번호'].nunique()

9646

In [ ]:
df_salary['사업자등록번호'].nunique()

9646

In [ ]:
df_salary.describe()

            사업자등록번호  복지및급여점수     평가자수
count       13230.0  13230.0  13230.0
mean   2892659396.9     48.3      2.6
std    2018172836.1     15.2      2.3
min    1010600385.0     20.0      1.0
25%    1198200394.0     40.0      1.0
50%    2118806219.0     49.2      1.0
75%    4188103497.5     49.2      4.0
max    8998705196.0    100.0      9.0

In [ ]:
df_salary.to_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/JDY/result/df_salary.csv', index = None)

# **고용 전망 점수 (중분류)**

In [ ]:
df_tmp = pd.read_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/dataset/사업화보유역량/csv_tb_bs_biz_i.csv', encoding = 'cp949')
df_employ = df_tmp.copy()

df_employ = df_employ[['사업자등록번호', '산업분류코드', '고용전망점수']]
# df_employ = df_employ.fillna(df_employ.mean())
df_employ = df_employ.groupby(['사업자등록번호', '산업분류코드']).mean().reset_index()

df_employ

          사업자등록번호   산업분류코드  고용전망점수
0      1010116480  47312.0    88.0
1      1010117247  33910.0    95.8
2      1010117344  47312.0    88.0
3      1010122565  59111.0    88.4
4      1010134270  46592.0    88.0
...           ...      ...     ...
80588  8998701827  42134.0    89.5
80589  8998800975  41229.0    89.5
80590  8998801353  63120.0    88.4
80591  8998801464  20423.0    95.8
80592  9068126629  41000.0    89.5

[80593 rows x 3 columns]

In [ ]:
df_employ_tmp = df_employ.groupby('산업분류코드').agg({'고용전망점수':'mean'}).reset_index()
df_employ_tmp.columns = ['산업분류코드', '산업별_평균고용전망점수']

df_employ_tmp

       산업분류코드  산업별_평균고용전망점수
0      1120.0          89.0
1      1121.0          89.0
2      1122.0          89.0
3      1123.0          89.0
4      1152.0          89.0
...       ...           ...
1270  96995.0          88.2
1271  96999.0          88.2
1272  97000.0          89.0
1273  98000.0          89.0
1274  99000.0          89.0

[1275 rows x 2 columns]

In [ ]:
df_employ.mean()

사업자등록번호    3374561767.4
산업분류코드          50522.3
고용전망점수             89.0
dtype: float64

In [ ]:
df_tmp['사업자등록번호'].nunique()

96004

In [ ]:
df_employ['사업자등록번호'].nunique()

96004

In [ ]:
df_employ.to_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/JDY/result/df_employ.csv', index = None)

# **근속기간 (중분류)**

In [ ]:
df_tmp = pd.read_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/dataset/기업성장_16종/기업정보상세.csv')
df_period = df_tmp.copy()

df_period = df_period[['사업자등록번호', '산업분류코드', '종업원수']]
df_period['산업분류코드'] = df_period['산업분류코드'].fillna(00)


df_period.loc[df_period['종업원수'] >= 500,'종업원_평균근속기간'] = 11.2
df_period.loc[df_period['종업원수'] <= 499,'종업원_평균근속기간'] = 8.7
df_period.loc[df_period['종업원수'] <= 299,'종업원_평균근속기간'] = 7.5
df_period.loc[df_period['종업원수'] <= 99,'종업원_평균근속기간'] = 6.4
df_period.loc[df_period['종업원수'] <= 29,'종업원_평균근속기간'] = 5.7
df_period.loc[df_period['종업원수'] <= 9,'종업원_평균근속기간'] = 5.6

# df_period['종업원_평균근속기간'] = df_period['종업원_평균근속기간'].fillna(7.0)
df_period = df_period[['사업자등록번호', '산업분류코드', '종업원_평균근속기간']]


df_period_v2 = df_tmp.copy()

df_period_v2 = df_period_v2[['사업자등록번호', '산업분류코드']]
df_period_v2['산업분류코드'] = df_period_v2['산업분류코드'].fillna(00)

df_period_v2['산업분류코드'] = df_period_v2['산업분류코드'].astype('str')
df_period_v2['산업분류코드'] = df_period_v2['산업분류코드'].str[:2]
df_period_v2['산업분류코드'] = df_period_v2['산업분류코드'].astype('float')

df_period_v2.loc[df_period_v2['산업분류코드'] >= 94,'산업별_평균근속기간'] = 5.4
df_period_v2.loc[df_period_v2['산업분류코드'] <= 93,'산업별_평균근속기간'] = 5.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 89,'산업별_평균근속기간'] = 4.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 85,'산업별_평균근속기간'] = 8.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 84,'산업별_평균근속기간'] = 5.1 
df_period_v2.loc[df_period_v2['산업분류코드'] <= 73,'산업별_평균근속기간'] = 6.9
df_period_v2.loc[df_period_v2['산업분류코드'] <= 69,'산업별_평균근속기간'] = 4.8
df_period_v2.loc[df_period_v2['산업분류코드'] <= 66,'산업별_평균근속기간'] = 11.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 63,'산업별_평균근속기간'] = 6.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 56,'산업별_평균근속기간'] = 3.4
df_period_v2.loc[df_period_v2['산업분류코드'] <= 52,'산업별_평균근속기간'] = 8.2
df_period_v2.loc[df_period_v2['산업분류코드'] <= 47,'산업별_평균근속기간'] = 5.7
df_period_v2.loc[df_period_v2['산업분류코드'] <= 42,'산업별_평균근속기간'] = 5.7
df_period_v2.loc[df_period_v2['산업분류코드'] <= 39,'산업별_평균근속기간'] = 7.1
df_period_v2.loc[df_period_v2['산업분류코드'] <= 36,'산업별_평균근속기간'] = 13.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 33,'산업별_평균근속기간'] = 7.7
df_period_v2.loc[df_period_v2['산업분류코드'] <= 8,'산업별_평균근속기간'] = 8.6
df_period_v2.loc[df_period_v2['산업분류코드'] <= 3,'산업별_평균근속기간'] = 8.2
df_period_v2.loc[df_period_v2['산업분류코드'] <= 0,'산업별_평균근속기간'] = 6.7

df_period_v2 = df_period_v2[['사업자등록번호', '산업별_평균근속기간']]


df_period = pd.merge(df_period, df_period_v2, how = 'left', left_on = '사업자등록번호', right_on = '사업자등록번호')
# df_period['종업원_평균근속기간'] = df_period['종업원_평균근속기간'].fillna(7.0)
df_period['평균근속기간'] = (df_period['종업원_평균근속기간'] + df_period['산업별_평균근속기간'])/2
df_period = df_period[['사업자등록번호', '산업분류코드', '평균근속기간']]

df_period

         사업자등록번호   산업분류코드  평균근속기간
0     1050508965  96910.0     NaN
1     1010204456  46510.0     5.7
2     1048107174  50130.0     6.9
3     1018102731  73203.0     6.3
4     1018606595  68122.0     5.2
...          ...      ...     ...
9876  2148708573  58222.0     7.0
9877  4208704866  41119.0     5.7
9878  4618107952  41222.0     5.7
9879  2208107776  63100.0     6.2
9880  4638108687  41111.0     5.7

[9881 rows x 3 columns]

In [ ]:
df_period.isnull().sum()

사업자등록번호      0
산업분류코드       0
평균근속기간     607
dtype: int64

In [ ]:
df_period_tmp = df_period.groupby('산업분류코드').agg({'평균근속기간':'mean'}).reset_index()
df_period_tmp.columns = ['산업분류코드', '산업별_평균근속기간']

# df_period = pd.merge(df_period, df_period_tmp, how = 'left', left_on = '산업분류코드', right_on = '산업분류코드')
# df_period['평균근속기간'] = np.where(pd.notnull(df_period['산업분류코드']) == True, df_period['평균근속기간'], df_period['산업별_평균근속기간'])

# df_period = df_period[['사업자등록번호', '산업분류코드', '평균근속기간']]
# df_period.columns = ['사업자등록번호', '산업분류코드', '종업원_평균근속기간']


df_period_tmp

      산업분류코드  산업별_평균근속기간
0        0.0         7.0
1     1123.0         7.6
2     1300.0         6.7
3     7110.0         6.3
4    10000.0         6.7
..       ...         ...
712  96912.0         6.2
713  96921.0         5.8
714  96990.0         5.5
715  96991.0         5.6
716  96995.0         5.5

[717 rows x 2 columns]

# **근무환경 (중분류 & 대분류)**

In [ ]:
df_tmp = pd.read_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/dataset/기업성장_16종/기업정보상세.csv')
df_infra = df_tmp.copy()

df_infra = df_infra[['사업자등록번호', '산업분류코드']]
df_infra['산업분류코드_v2'] = df_infra['산업분류코드'].fillna(00)

df_infra['산업분류코드_v2'] = df_infra['산업분류코드_v2'].astype('str')
df_infra['산업분류코드_v2'] = df_infra['산업분류코드_v2'].str[:2]
df_infra['산업분류코드_v2'] = df_infra['산업분류코드_v2'].astype('float')


df_infra.loc[df_infra['산업분류코드_v2'] >= 34,'근무환경평균만족도'] = (12.2*5 + 26.4*4 + 41.7*3 + 13.7*2 + 5.3*1)
df_infra.loc[df_infra['산업분류코드_v2'] <= 33,'근무환경평균만족도'] = (7.7*5 + 25.0*4 + 44.4*3 + 15.8*2 + 6.6*1)
df_infra.loc[df_infra['산업분류코드_v2'] <= 3,'근무환경평균만족도'] = (5.6*5 + 10.8*4 + 45.9*3 + 29.3*2 + 6.8*1)
df_infra.loc[df_infra['산업분류코드_v2'] <= 0,'근무환경평균만족도'] = (11.3*5 + 26.0*4 + 42.2*3 + 14.2*2 + 5.6*1)


df_infra = df_infra[['사업자등록번호', '산업분류코드', '근무환경평균만족도']]

df_infra

         사업자등록번호   산업분류코드  근무환경평균만족도
0     1050508965  96910.0      324.4
1     1010204456  46510.0      324.4
2     1048107174  50130.0      324.4
3     1018102731  73203.0      324.4
4     1018606595  68122.0      324.4
...          ...      ...        ...
9876  2148708573  58222.0      324.4
9877  4208704866  41119.0      324.4
9878  4618107952  41222.0      324.4
9879  2208107776  63100.0      324.4
9880  4638108687  41111.0      324.4

[9881 rows x 3 columns]

In [ ]:
df_infra.to_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/JDY/result/df_infra.csv', index = None)

# **고용안정성 (대분류)**

In [ ]:
df_employ_safe = pd.merge(df_period, df_employ, how = 'outer', on = ['사업자등록번호', '산업분류코드'])
# df_employ_safe = pd.merge(df_employ_safe, df_salary, how = 'outer', on = '사업자등록번호')
df_employ_safe['산업분류코드'] = df_employ_safe['산업분류코드'].fillna(00)

print(df_employ_safe.isnull().sum())

# df_employ_safe = pd.merge(df_employ_safe, df_period_tmp, how = 'left', left_on = '산업분류코드', right_on = '산업분류코드')
# df_employ_safe['평균근속기간'] = np.where(pd.notnull(df_employ_safe['평균근속기간']) == True, df_employ_safe['평균근속기간'], df_employ_safe['산업별_평균근속기간'])


# df_employ_safe = pd.merge(df_employ_safe, df_employ_tmp, how = 'left', left_on = '산업분류코드', right_on = '산업분류코드')
# df_employ_safe['고용전망점수'] = np.where(pd.notnull(df_employ_safe['고용전망점수']) == True, df_employ_safe['고용전망점수'], df_employ_safe['산업별_평균고용전망점수'])


df_employ_safe = df_employ_safe[['사업자등록번호', '산업분류코드', '평균근속기간', '고용전망점수']]


print(df_employ_safe.isnull().sum())
df_employ_safe

사업자등록번호        0
산업분류코드         0
평균근속기간     81200
고용전망점수     11454
dtype: int64
사업자등록번호        0
산업분류코드         0
평균근속기간     81200
고용전망점수     11454
dtype: int64

          사업자등록번호   산업분류코드  평균근속기간  고용전망점수
0      1050508965  96910.0     NaN     NaN
1      1010204456  46510.0     5.7     NaN
2      1048107174  50130.0     6.9     NaN
3      1018102731  73203.0     6.3     NaN
4      1018606595  68122.0     5.2     NaN
...           ...      ...     ...     ...
90469  8998701827  42134.0     NaN    89.5
90470  8998800975  41229.0     NaN    89.5
90471  8998801353  63120.0     NaN    88.4
90472  8998801464  20423.0     NaN    95.8
90473  9068126629  41000.0     NaN    89.5

[90474 rows x 4 columns]

In [ ]:
df_employ_safe.to_csv('/content/drive/Shareddrives/2022 디지털산업혁신 빅데이터 플랫폼 아이디어 경진대회/JDY/result/df_employ_safe.csv', index = None)